.global {
  position: absolute;
  left: 260px;
  top: 0;
}

.friends {
  width: 86%;
}

.link {
  text-decoration: none;
  color: black;
}

@media (min-width: 1800px) {
  .card { 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
  }
}

@media (max-width: 1800px) {
  .card { 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }
}

@media (max-width: 1400px) {
  .card { 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
}

@media (max-width: 1050px) {
  .card { 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
  }
}